mat-drawer-container {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: black;

    mat-drawer {
        flex: 1;
        padding-left: 1.5%;
        padding-right: 1%;
        padding-top: 1.5%;

        ul{
            li{
                list-style-type: none;
                //no decoration to a tags
                padding: 1%;
                margin: 1%;
                background-color: #f0f0f073;
                border-radius: 5px;
                border: solid 1px #e0e0e0;
                cursor: pointer;
                &:hover {
                    background-color: #e0e0e0;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }

    }

    mat-drawer-content {
        flex: 3;
        padding: 2% 2% 2% 2%;
        height: 90%;
        width: 85vw;
        background-color: gainsboro;
        color: black;
    }

    // mat-drawer-content {}

}