<div>

    <h1>Maquinas</h1>

    <!-- Aqui van los botones de busqueda -->
    <div class="search-buttons">
        <button mat-raised-button color="primary" (click)="getHeroes() ">Todas</button>
        <button mat-raised-button color="primary" (click)="openAdd()">Añadir</button>
        <!-- <button mat-raised-button color="primary" (click)="openEdit() ">Editar</button> -->
        <button mat-raised-button color="primary" (click)="getHeroes() ">Borrar</button>
        <!-- <button mat-raised-button color="primary" (click)="get2dMachines()">2d Tech</button>
        <button mat-raised-button color="primary" (click)="get3dMachines()">3d Tech</button>
        <button mat-raised-button color="primary" (click)="clearInput($event)">Limpiar</button> -->
    </div>


    <!-- Aqui va el filtro aplicado sobre la tabla -->
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="filterHeroes($event)" placeholder="Filtro" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Manufacture Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- se agrega paginacion basica -->

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


    </table>


</div>

<!-- se crea un modal con un pequeño formulario para agregar los heroes, que solo es visible cuando se
da click en el boton añadir -->
<mat-dialog-content>
    <h1 mat-dialog-title>Añadir Maquina</h1>
    <form [formGroup]="form" (ngSubmit)="addHeroe($event)">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="descripcion">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Añadir</button>
    </form>
</mat-dialog-content>