<!-- crea el componente en html para el  -->
<mat-dialog-content>
    <h1 mat-dialog-title>Editar Maquina</h1>
    <form [formGroup]="form" (ngSubmit)="editHeroe($event)">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="descripcion">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Editar</button>
    </form>
